#!/bin/sh -e
#
if test -z "$1"; then
    jobname=$(basename $0)
else
    jobname=$1
fi
if test -z "$jobname"; then
    echo "Usage:"
    echo -- "- Create a symlink in /etc/cron.*/ with the exact same name as the script in /home/{{ user }}/"
    echo -- "- Run this script directly with the name of the script in /home/{{ user }}/ as the first and only argument."
    exit 1
fi
su --login {{ user }} --command "/bin/sh -e" <<EOF
    if screen -list | grep --fixed-strings "${jobname}"; then
        exit 0
    fi
    screen -d -m -L -Logfile {{ log_dir }}/${jobname}-`date '+%Y%m%dT%H%M%SZ'`.log \
        -S ${jobname} \
        -t ${jobname} \
        /home/{{ user }}/${jobname}
EOF
